<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYPROGRAM</title>
  <link href="static/styles.min.css" rel="stylesheet">
</head>

<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__logo-link">
        <svg class="header__logo" width="177" height="26">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skyprogram"></use>
        </svg>
      </a>
    </div>
  </header>

  <main class="container">

    <div class="search">
      <form action="/search" class="search__form" method="get" >
        <input type="text" class="search__input" name="s">
      </form>
    </div>

    <section class="items">
      <div class="item__counter">
        <h1>Internal Server Error</h1>
      </div>
    </section>
    <section class="items">
      <div class="item__counter">
        <h3>Мы уже знаем об этой ошибке и делаем все возможное для ее устранения!</h3>
      </div>
    </section>
    <section class="items">
      <div class="item__counter">
        <p>Приносим извинения за причлененные неудобства, скоро все заработает.</a></p>
      </div>
    </section>
  </main>
</body>

</html>